{% extends "base.html" %}
{% block head %}
<head>
    <title>3GT DEV</title>
    <link type="text/css" rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/portfolio.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='http://twitter.github.io/typeahead.js/releases/latest/typeahead.bundle.js'></script>
    <script src='assets/scripts.js'></script>
    <script src='assets/moustache.js'></script>
    <!--  <script src='assets/bootstrap.min.js'></script> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
{% endblock %}
{% block body %}
<div id="good things" class="span8">
    <div id="my good thing" class="media-list" style="margin-bottom:15px">
        <div class="media" style="overflow:visible">
	    <div class="media" style="overflow:visible">
		<a class="pull-left" href="{{ current_user.profile_url }}">
		    <img class="media-object" src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square">
		</a>
		<div class="media-body" style="overflow:inherit; margin-left:60px">
		    <div class="well">
                        <form id="post" action=''>
                            <p><input type="text" placeholder='Good Thing' name="good_thing"/></p>
                            <p><input type="text" placeholder='Reason' name="reason"/></p>
                            <p><input type="file" placeholder='Image' name="img" multiple/></p>
                            {% if current_user.public_user %}
                            <p><div id="twitter_friend_tagging">
                                <input id="twitter_friend_tagging" class="typehead" type="text" placeholder="Friends" name='mentions'/>
                            </div></p>
                            Public: <input type='checkbox' id='settings_public' name='public'/>
                            Wall: <input type='checkbox' id='settings_wall' name='wall'/>
                            {% endif %}
                            <input type="submit"/>
                        </form>
		    </div>
		</div>
	    </div>
	</div>
        <a href='#' id='view_select' data-view='all'>all</a>
        <a href='#' id='view_select' data-view='me'>my posts</a>
    </div>
    <ul class="media-list" id='good_things'>
    </ul>
</div>
{% endblock %}

{% block settings %}
<div id="placeholder" class="span4">
    <div class="hero-unit">
        settings:
        <form id='settings' action=''>
                Reminder Days: <input type='number' name='reminder_days'/>
                Default Post to FB <input type='checkbox' name='default_fb'/>
                Default Public <input type='checkbox' name='default_public'/>
            <input type="submit"/>
        </form>
    </div>
</div>
{% endblock %}
