{% extends "base.html" %}
{% block body %}
<fb:login-button autologoutlink="true" scope="publish_actions,user_friend"></fb:login-button>
<div id="good things" class="span8">
    <div id="my good thing" class="media-list" style="margin-bottom:15px">
        <div id="fb-root"></div>
        {% if current_user %}
        <div class="media" style="overflow:visible">
            <div>
        Post a Good Thing
                <form id="post" action=''>
                Good Thing: <input type="text" name="good_thing"/>
                Reason: <input type="text" name="reason"/>
                Img: <input type="file" name="img" multiple/>
                {% if current_user.public_user %}
                    Public: <input type='checkbox' name='public'/>
                    Wall: <input type='checkbox' name='wall'/>
                {% endif %}
                    <input type="submit"/>
                </form>
            </div>
	    <div class="media" style="overflow:visible">
		<a class="pull-left" href="{{ current_user.profile_url }}">
		    <img class="media-object" src="http://graph.facebook.com/{{ current_user.id }}/picture?type=square">
		</a>
		<div class="media-body" style="overflow:inherit; margin-left:60px">
		    <div class="well">
			<div class="input-append" style="padding:10px">
			    <input class="span5" id="appendedInputButtons" type="text" placeholder="What was the good thing?">
			    <button class="btn" type="button">Post</button>
			    <div class="btn-group">
				<button class="btn dropdown-toggle" data-toggle="dropdown">
				    <i class="icon-lock" style="padding-right:4px"></i><span class="caret"></span>
				</button>
				<ul class="dropdown-menu" style="right:0; left:auto;">
				    <li> <label class="checkbox"><input type="checkbox">Remember me</label></li>
				    <li><a href="#">3GT</a></li>
				    <li><a href="#">FB</a></li>
				</ul>
			    </div>
			</div>
			<div class="input"></div>
		    </div>
		</div>
	    </div>
	</div>
        <a href='#' id='view_select' data-view='all'>all</a>
        <a href='#' id='view_select' data-view='me'>my posts</a>
    </div>
    {% endif %}
    <ul class="media-list" id='good_things'>
    </ul>
</div>
<script>
 // load b sdk and log in w/ fb button
 window.fbAsyncInit = function() {
     FB.init({appId: '{{ facebook_app_id }}', status: true, cookie: true,
              xfbml: true});
     FB.Event.subscribe('{% if current_user %}auth.logout{% else %}auth.login{% endif %}', function(response) {
         {% if current_user %} window.location = "/logout" {% else %} window.location.reload(); {% endif %}
     });
 };
 (function(){
     var e = document.createElement('script');
     e.type = 'text/javascript';
     e.src = document.location.protocol + '//connect.facebook.net/en_US/all.js';
     e.async = true;
     document.getElementById('fb-root').appendChild(e);
 }());
</script>
{% endblock %}

{% block settings %}
<div id="placeholder" class="span4">
    <div class="hero-unit">
        settings:
        <form id='settings' action=''>
                Reminder Days: <input type='number' name='reminder_days'/>
                Default Post to FB <input type='checkbox' name='default_fb'/>
                Default Public <input type='checkbox' name='default_public'/>
            <input type="submit"/>
        </form>
    </div>
</div>
{% endblock %}
