{% extends "base.html" %}
{% block head %}
<head>
    <title>3GT DEV</title>
    <link type="text/css" rel="stylesheet" href="/assets/bootstrap.min.css" />
    <link type="text/css" rel="stylesheet" href="/assets/portfolio.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src='assets/landing.js'></script>
    <script src='assets/moustache.js'></script>
    <!--  <script src='assets/bootstrap.min.js'></script> -->
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
{% endblock %}
{% block body %}
<div id="good things" class="span8">
    <p>Landing Page</p>
    <ul class="media-list" id='good_things'>
    </ul>
</div>
{% endblock %}
