<!-- good thing template -->
<script id="good_thing_tpl" type="text/html">
    <li class="list-group-item" id="good_thing">
        <div id='data_container' data-id={{id}} data-user_id={{user_id}} data-type='good_thing'>
            <a name="{{id}}" id="{{id}}"></a>
            <div class="media">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="http://graph.facebook.com/{{user_id}}/picture?type=square" alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <div id="name">
                        <h4 class="media-heading"><a href='user/{{user_id}}' id='profile_link' data-id={{user_id}}>{{user_name}}</a></h4>
                    </div>
                    <div id="content">
                        <p>{{good_thing}}</p>
                        {{#current_user}}<p>{{reason}}</p>{{/current_user}}
                    </div>
                    <div id="control">
                        <form id='comment'>
                            <input type="text" name="comment_text" placeholder="Comment"/>
                            <button name='good_thing' value='{{id}}' type='submit'>comment</button>
                        </form>
                        {{#num_mentions}}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="mentions">with {{num_mentions}} others</a>
                        <ul class="dropdown-menu">
                            {{#mentions}}
                            <li>{{name}}</li>
                            {{/mentions}}
                        </ul>
                        {{/num_mentions}}
                        <a href="#" class="link" id='cheer' data-toggle={{#cheered}}"on"{{/cheered}}{{^cheered}}"off"{{/cheered}}>({{num_cheers}}) {{#cheered}}uncheer{{/cheered}}{{^cheered}}cheer{{/cheered}}</a>
                        {{#current_user}}<a href="#" class="link" id='delete'>delete</a>{{/current_user}}
                        <a href="#" class="link" data-toggle="off" id='comment'>({{num_comments}}) comments</a>
                    </div>
                    <!-- comments of the good thing -->
                    <div id="comments"></div>
                </div>
            </div>
        </div>
    </li>
</script>

<!-- comment template -->
<script id='comment_tpl' type='text/html'>
    <hr>
    <div id='data_container' data-id={{id}} data-good_thing_id={{good_thing_id}} data-user_id={{user_id}} data-type='comment'>
        <div id="name">
            <h4 class="media-heading"><a href='user/{{user_id}}' id='profile_link' data-id={{user_id}}>{{user_name}}</a></h4>
        </div>
        <div id="content">{{comment_text}}</div>
        <div id="control">
            {{#current_user}}<a href="#" class="link" id='delete'>delete</a>{{/current_user}}
        </div>
    </div>
</script>

<!-- comment notification template -->
<script id='comment_notification_tpl' type='text/html'>
    <li>
        <a id="notification_link" href="#{{event_id}}" data-event_id={{event_id}}>{{from_user}} commented on your good thing</a>
    </li>
</script>

<!-- cheer notification template -->
<script id='cheer_notification_tpl' type='text/html'>
    <li>
        <a id="notification_link" href="#{{event_id}}" data-event_id={{event_id}}">{{from_user}} cheered your good thing</a>
    </li>
</script>

<!-- mention notification template -->
<script id='mention_notification_tpl' type='text/html'>
    <li>
        <a id="notification_link" href="#{{event_id}}" data-event_id={{event_id}}>{{from_user}} mentioned you in a good thing</a>
    </li>
</script>

<!-- blank notification template -->
<script id='blank_notification_tpl' type='text/html'>
    <li>
        <p>You have no new notifications</p>
    </li>
</script>

<!-- wordcloud word template -->
<script id='word_cloud_tpl' type='text/html'>
    <a href="#" rel="{{count}}">{{word}}</a>
</script>
